.title {
  font-size: 30px;
  font-weight: 500;
  color: whitesmoke;
  text-transform: uppercase;
}

.writeContainer {
  display: flex;
  align-items: center;
  padding: 20px 0;
  flex-direction: column;
}
