.container {
  padding: 0;
  width: 100vw;
  /* height: 100vh; */
  /* background-image: linear-gradient(#e5eff5, #9db5c7); */
  background: #f2f9ff;
}

.main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: white;
}
