.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: white;
  background-color: #c7deee;
  font-size: 80px;
  text-align: center;
  line-height: 80px;
  padding: 3px 0 0 0;
  margin-bottom: 10px;
}
