.inputGratitude {
  resize: none;
  /* margin: 5rem 10rem 0; */
  width: 100%;
  font-size: 40px;
  background-color: #f2f9ff;
  color: #7f7f7f;
  opacity: 20%;
  border: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 100%;
}

.inputGratitude::placeholder {
  opacity: 30%;
}

.submitButton {
  width: 30%;
}

.title {
  font-size: 30px;
  font-weight: 500;
  color: whitesmoke;
  text-transform: uppercase;
}

.gratefulForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputGratitude:focus {
  background-color: inherit;
  /* outline: 1px solid lightgrey; */
  outline: none;
  opacity: 70%;
}

.timestamp {
  color: silver;
  font-size: 12px;
}

.gratitudeItem {
  padding-bottom: 10px;
}

.container {
  display: flex;
  align-items: center;
  margin: 20px;
  flex-direction: column;
  background-color: #f2f9ff;
}

.footer {
  padding: 3rem;
}
/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
